.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
__pycache__
# Local History for Visual Studio Code
.history/
.DS_Store
setting.json
dist/
build/
*.spec