pygame
aioquic
PyQt5
PyQt-Fluent-Widgets
protobuf
uuid
pyinstaller
opencv-python
qrcode
sounddevice
numpy
av
aiomqtt
requests
pydantic
pyshortcuts
hidapi
pyopengl
pillow
tensorboardX