pygame
aioquic
PyQt5
PyQt-Fluent-Widgets
asyncqt
protobuf
uuid
nuitka
opencv-python
qrcode
sounddevice
numpy
av
aiomqtt
requests
pydantic
pyshortcuts
hidapi
pyopengl
pillow
prometheus_client
zfec
PyQtWebEngine